
/* General */

body {
	-webkit-font-smoothing: antialiased;
	-moz-box-sizing: border-box;
  box-sizing: border-box;
	font-family: 'Yantramanav', sans-serif !important;
}

hr {
	margin: 0;
	border-top: 2px solid #eee;
}

/* Padding and Margins */

.pt-lg {
	padding-top: 5%;
}

.mt-lg {
	margin-top: 20%;
}

/* Vertical Spacing */

#parent {
	display: table;
	width: 100%;
}

#child {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

/* Utils */

.t-center {
	text-align: center;
}

/* Fonts */

.header-font {
	font-family: 'Palanquin', sans-serif;
}

/* Headers */

.banner-title {
	font-family: 'Palanquin', sans-serif;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 10px;
	margin-bottom: 20px;
	font-size: 3em;
}

.slogan {
	text-align: left;
	font-size: 3em;
}

.header-link:hover {
	text-decoration: none;
	color: inherit; 
}

/* Navbar */

ul {
	list-style: none;
	text-align: center;
	padding: 0;
}

li {
	display: inline-block;
	margin: 0 3%;
	text-transform: uppercase;
	letter-spacing: 2px;
}

li:hover {
	cursor: pointer;
}

a {
	text-decoration: none;
	-o-transition:.2s;
  -ms-transition:.2s;
  -moz-transition:.2s;
  -webkit-transition:.2s;
	transition:.2s;
	color: inherit;
}

a:hover {
	text-decoration: none;
	-o-transition:.2s;
  -ms-transition:.2s;
  -moz-transition:.2s;
  -webkit-transition:.2s;
	transition:.2s;
	color: #d26d51;
}

.navlinks li a {
	font-size: 18px;
}

.clicked {
	color: #d26d51 !important;
	font-weight: bold;
}

/* Card */

.card {
	box-shadow: 0.5px 0.5px 0.5px 0.5px #D8D8D8;
	height: 350px;
	opacity: 0.7;
	transition: all 0.2s;
	position: relative;
}

.card:hover {
	opacity: 1;
	transition: all 0.2s;
	cursor: pointer;
}

.card h2 {
	font-size: 2.5em;
	color: #fff;
	margin: 0;
	padding: 5%;
}

.card-content {
	position: absolute;
	bottom: 3%;
	right: 5%;
}

.card-content-2 {
	padding-top: 150px;
}

.c-contact {
	background-image: url('../images/kiki-gallery.jpg');
	background-size: cover;
}

.c-gallery {
	background-image: url('../images/kiki-sleep.jpg');
	background-size: cover;
}

.c-resume {
	background-image: url('../images/kiki-majestic.jpg');
	background-size: cover;
}

/* Content */

.quote-container {
	margin-top: 100px;
	text-align: center;
}

.quote {
	font-size: 20px;
	font-style: italic;
	font-family: 'Fira Sans', sans-serif;
	padding-bottom: 10px;
}

.content-container {
	padding: 20px;
	margin-bottom: 20px;
	font-size: 16px;
	text-align: left;
}

/* Misc. */

.signature {
	text-align: center;
	font-size: 16px;
	font-style: italic;
	margin-bottom: 80px;
}

.delay {
  -webkit-animation-duration: 1.5s;
  -moz-animation-duration: 1.5s;
  -o-animation-duration: 1.5s;
  -ms-animation-duration: 1.5s;
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  -o-animation-delay: 1s;
  -ms-animation-delay: 1s;
}

.delay-2 {
  -webkit-animation-duration: 1.5s;
  -moz-animation-duration: 1.5s;
  -o-animation-duration: 1.5s;
  -ms-animation-duration: 1.5s;
  -webkit-animation-delay: 2.5s;
  -moz-animation-delay: 2.5s;
  -o-animation-delay: 2.5s;
  -ms-animation-delay: 2.5s;
}