
/* Spacing */

body {
	-webkit-font-smoothing: antialiased;
	-moz-box-sizing: border-box;
  box-sizing: border-box;
	font-family: 'Yantramanav', sans-serif !important;
}

hr {
	margin: 0;
}

/* Vertical Spacing */
#parent {
	display: table;
	width: 100%;
}

#child {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

/* Utils */

.t-center {
	text-align: center;
}

/* Headers */

.banner-title {
	font-family: 'Palanquin', sans-serif;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 10px;
	margin-bottom: 20px;
	font-size: 3em;
}

/* Navbar */

ul {
	list-style: none;
	text-align: center;
	padding: 0;
}

li {
	display: inline-block;
	margin: 0 3%;
	text-transform: uppercase;
	letter-spacing: 2px;
}

li:hover {
	cursor: pointer;
}

a {
	text-decoration: none;
	-o-transition:.2s;
  -ms-transition:.2s;
  -moz-transition:.2s;
  -webkit-transition:.2s;
	transition:.2s;
	color: inherit;
}

a:hover {
	text-decoration: none;
	-o-transition:.2s;
  -ms-transition:.2s;
  -moz-transition:.2s;
  -webkit-transition:.2s;
	transition:.2s;
	color: #d26d51;
}

.navlinks li a {
	font-size: 18px;
}

.clicked {
	color: #d26d51 !important;
	font-weight: bold;
}

/* Content */

.quote-container {
	margin-top: 100px;
	text-align: center;
}

.quote {
	font-size: 20px;
	font-style: italic;
	font-family: 'Vollkorn', serif;
	padding-bottom: 10px;
}

.content-container {
	padding: 20px;
	margin-bottom: 20px;
	font-size: 16px;
	text-align: left;
}

/* Misc. */

.signature {
	text-align: center;
	font-size: 16px;
	font-style: italic;
	margin-bottom: 35px;
}