<div ng-include src="'views/back-button.html'"></div>
<div id="parent">
	<div id="child">
		<div class="col-sm-4 col-sm-offset-4 t-center animated fadeIn delay-3">
			<img src="../images/kiki-egypt-face.jpg" class="img-circle faceshot" alt="Kiana Vaziri">
		</div>
		<div class="col-sm-4 col-sm-offset-4 animated fadeInUp delay-4">
			<p class="contact-content">{{contact.catchphrase}}</p>
		</div>
		<div class="col-sm-4 col-sm-offset-4 animated fadeInUp delay-4">
			<a href="https://www.linkedin.com/in/kianavaziri" target="_blank"><i class="fa fa-linkedin-square md-sz"></i><span class="cta-links">linkedin</span></a>
		</div>
		<div class="col-sm-4 col-sm-offset-4 animated fadeInUp delay-4">
			<i class="fa fa-envelope-o md-sz"></i><span class="cta-links">k.vaziri323@gmail.com</span>
			<p class="small mt-md">try refreshing the page!</p>
		</div>
	</div>
</div>