<div style="padding-top: 70px;" ng-include src="'views/header.html'"></div>
<div ng-include src="'views/nav.html'"></div>

<div class="col-sm-12 col-md-10 col-md-offset-1 quote-container">
  <p class="quote col-sm-4 col-sm-offset-4">this hands-on approach<br> is the most effective way<br> to ensure a factory’s integrity</p>
</div>
<div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2"><hr></div>
<div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 content-container">
  <div class="col-sm-6">
    <p>A crucial competency indeed: being hands-on or, as I like to call it, being engaged.  For work that I am passionate about, I like to know who or what touches the project and how.  This is how I ensure the quality and consistency of the final result.</p>
    <p>While consulting for La Bicicleta Verde, my team of five delegated tasks to operate efficiently and collaboratively. For example, we were creating an improved catalog of the company’s services, in that the design as well as the content needed to be updated.</p>
    <p>We decided as a group on our vision for the final result, but allocated the action steps based on each of our skills. The making of the design we left to our IT genius.</p>
  </div>
  <div class="col-sm-6">
    <p>Blurbs about the company’s services were up to two of my capable team members. An in-depth comparison of the tours was under the careful minds of my remaining teammate and myself.</p>
    <p>Although we were working individually or in pairs, we recognized we were all responsible for each other’s work. For this reason, we held weekly meetings to report progress and draw advice from each other if necessary. In execution it may have seemed as though we were not working directly with one another, but as a whole the project and the final vision belonged to all of us.</p>
  </div>
</div>
<div ng-include src="'views/signature.html'"></div>
