<div id="parent">
	<div id="child">
		<div ng-include src="'views/header.html'" class="animated fadeIn"></div>
		<div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
			<h3 class="banner-title animated fadeIn">x</h3>
		</div>
		<div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
			<h1 class="banner-title animated fadeInUp delay">Everlane</h1>
		</div>
		<div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2" class="t-center">
			<a ui-sref="quality">enter</a>
		</div>
	</div>
</div>