<nav class="col-sm-12 col-md-10 col-md-offset-1" ng-controller="NavController as app">
  <ul class="navlinks">
    <li><a ui-sref="quality" ng-class="{'clicked': app.isActiveAnchor('/everlane/quality')}">Quality</a></li>
    <li><a ui-sref="rapport" ng-class="{'clicked': app.isActiveAnchor('/everlane/rapport')}">Rapport</a></li>
    <li><a ui-sref="engagement" ng-class="{'clicked': app.isActiveAnchor('/everlane/engagement')}">Engagement</a></li>
    <li><a ui-sref="transparency" ng-class="{'clicked': app.isActiveAnchor('/everlane/transparency')}">Transparency</a></li>
    <li><a ui-sref="rebel" ng-class="{'clicked': app.isActiveAnchor('/everlane/rebel')}">Rebel</a></li>
  </ul>
</nav>