<div style="padding-top: 70px;" ng-include src="'views/header.html'"></div>
<div ng-include src="'views/nav.html'"></div>

<div class="col-sm-12 col-md-10 col-md-offset-1 quote-container">
  <p class="quote col-sm-4 col-sm-offset-4">we visit them often,<br> and build strong personal<br> relationships with the owners</p>
</div>
<div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2"><hr></div>
<div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 content-container">
  <div class="col-sm-6">
    <p>A valuable bond among collaborators can often prove to be rewarding on both ends. In my personal and work life, I do what I can to provide a welcoming environment and hope that my counterpart does the same.</p>
    <p>Even the most distant acquaintances deserve this basic right.  In my most recent internship at Real Staffing, San Francisco, I learned the power of rapport. Seeing as how Real is a recruiting firm, communication is engraved in everyone’s job description.</p>
    <p>On one of my first calls I received I was, admittedly, incredibly nervous. However, after we moved past the awkward greetings, I began to unearth more about the man’s personality, not just his resume builders.</p>
  </div>
  <div class="col-sm-6">
    <p>I even discovered he was Iranian, just like me, which became an instant connection. Once I was able to open the gates of conversation and speak naturally (in conversational Farsi), I felt more compelled to help him in his cause and he was more adamant on working only with me and my team.</p>
    <p>We were dedicated to one another even though he was one client out of many. I learned that everyone involved in a business is an integral part of how the company operates, and for that they deserve to be treated as such.</p>
  </div>
</div>
<div ng-include src="'views/signature.html'"></div>