<div style="padding-top: 70px;" ng-include src="'views/header.html'"></div>
<div ng-include src="'views/nav.html'"></div>

<div class="col-sm-12 col-md-10 col-md-offset-1 quote-container">
  <p class="quote col-sm-4 col-sm-offset-4">we know our customers<br> are also rule breakers<br> and questioners</p>
</div>
<div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2"><hr></div>
<div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 content-container">
  <div class="col-sm-6">
    <p>Had I not questioned the norm a few years back, I may not have had the opportunity to be sitting here today.</p>
    <p>Towards the end of my senior year of high school I was diagnosed with papillary cancer of the thyroid. This gland plays a huge role in regulating the human body as it controls the body’s energy, hormones, and metabolism.</p>
    <p>So I did what everyone else would have done—step one: remove thyroid, step two: bedridden on painkillers, step three: radiation therapy. But nothing worked. I needed another surgery.</p>
  </div>
  <div class="col-sm-6">
    <p>I endured so many natural remedies you could have packaged me up and sold me at Whole Foods.  For six weeks my body was flushed with a rigorous herbal cleanse.</p>
    <p>The torture was worth it though when the new doctor told me I was finally cancer-free.  And with that, I now know that there is always another way to solve what may seem like an unsolvable issue.  You just need the courage and conviction to take the path less traveled.</p>
  </div>
</div>
<div ng-include src="'views/signature.html'"></div>
