<div style="padding-top: 70px;" ng-include src="'views/header.html'"></div>
<div ng-include src="'views/nav.html'"></div>

<div class="col-sm-12 col-md-10 col-md-offset-1 quote-container">
  <p class="quote col-sm-4 col-sm-offset-4">we believe customers<br> have the right <br>to know what their <br>products cost to make</p>
</div>
<div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2"><hr></div>
<div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 content-container">
  <div class="col-sm-6">
    <p>It seems to be increasingly difficult to find a company whose mission is an honorable cause.  And then there was Everlane. A company whose mission is to serve customers their right.</p>
    <p>As someone trying to be an individual in the midst of conformity, I find it most enjoyable to do so through my style of fashion. However, as not all companies have the same standard for products as Everlane, this can be quite a challenge.</p>
    <p>The fashion industry was built by innovators but is now saturated by cheap replicators only looking for high returns. A uniquely designed and quality piece is reserved for the few who have the disposable income to afford it.</p>
  </div>
  <div class="col-sm-6">
    <p>As a female looking to stamp her personality on the world with eye-catching textiles, there is little to choose from in the bargain bins. This is why I see Everlane as an idyllic brand in the fashion world.</p>
    <p>You are the first step of one thousand more in changing the way business is implemented. In my career, I want to represent a brand whose meaning transcends its need for profit. </p>
  </div>
</div>
<div ng-include src="'views/signature.html'"></div>